<template>
  <section id="Login">
    <Background/>
    <OpswerksHeader />
    <div class="position" :style="{'width': '28rem'}">
      <div class="text-white text-center py-5 px-5">
        <img src='../../src/images/opswerks1.png' alt="opswerks logo" width="30%" height="auto">
          <div class="text-white text-left py-4 px-2 z-depth-6">
          <UserAuthTogglableForm loginPhrase="Login"
                                 registerPhrase="Register"
                                 :postLoginAction="redirect"
                                 :postRegisterAction="redirect" />
          </div>
          <v-btn text x-small primary > <a href="#">Forget Password?</a></v-btn>
      </div>
    </div>
  </section>
</template>

<script scoped>
import UserAuthTogglableForm from '../../src/components/UserAuthTogglableForm.vue';
import Background from '../../src/components/Background.vue';
import OpswerksHeader from '../../src/components/OpswerksHeader.vue';
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import BootstrapVue from "bootstrap-vue";



export default {
  name: 'FormsPage',
  components: {
    OpswerksHeader,
    Background,
    UserAuthTogglableForm
  },
  methods: {
    redirect(){
      const REDIRECT_URI = this.$route.query.redirect || '/'
      this.$router.push(REDIRECT_URI)
    }
  }
}
</script>

<style>

  .position {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     }
</style>
