<template>
  <div style="margin-top: -15px">
    <mdb-edge-header color="teal darken-2">
      <div class="category-page-background"></div>
    </mdb-edge-header>
    <mdb-container class="free-bird">
      <mdb-row>
        <mdb-col md="10" class="mx-auto">
          <mdb-jumbotron class="pt-4">
            <h2 class="pb-4">
                <mdb-col md="15">
                  <img src="../../docs/categories/assets/hmopolicy.png" class="img-fluid"/>
                </mdb-col>
            </h2>    

        <mdb-container>
          <mdb-row class="mt-5 align-items-center justify-content-start">
            <h4 class="demo-title"><strong>Health Benefit Explained</strong></h4>
            <a href="https://drive.google.com/drive/u/0/folders/1FkxZBtAd-xMLUZSQS9j2JPeAuyW8PJ4u" waves-fixed class="border grey-text px-2 border-light rounded ml-2" target="_blank"><mdb-icon icon="bell" class="mr-2"/>Guide</a>
          </mdb-row>
          <hr class="mb-4"/>
          <mdb-collapse :toggleTag="['a', 'button']" :togglers="2" :toggleClass="['btn btn-primary', 'btn-primary']" :toggleText="['Collapse link', 'Collapse button']">
            <h5 class="pt-3">Generosity to All</h5>
              <p class="pb-3"> <ul><li> We become generous as we take good care of ourselves. If we are healthy we will have every opportunity to help our team mates, our customers and our community.</li>
              <li>In Opswerks, we practice generosity not only to people around us but to ourselves, too. We make sure that we secure an HMO that is priced enough to cover the added health security we need.</li></ul></p>
            <h5 class="pt-1"> Gratitude in every encounter</h5>
              <p class="pb-3"> <ul><li>We are thankful for your loved ones who share you to us. With that we are extending the coverage to them. </li>
              <li> We know we are affected if someone in our family is sick, to ease the burden, we included them in the coverage plan.</li></ul></p>
            <h5 class="pt-1">Continuous self-improvement</h5>
              <p class="pb-3"> <ul><li>5 years data had given us clarity on what we need to improve in the process of providing the HMO benefit.</li>
              <ul><li> Company will do the upfront payment for all new hires</li>
              <li>Conversion of all personal accounts to corporate accounts</li>
              <li>Payment process will not be dealt by individuals</li></ul></ul></p>
          </mdb-collapse>

          <mdb-row class="mt-5 align-items-center justify-content-start">
            <h4 class="demo-title"><strong>Enrollment Requirements</strong></h4>
          </mdb-row>
          <hr class="mb-4" />
          <mdb-row class="d-flex flex-row justify-content-center">
          <mdb-btn color="info" @click.native.prevent="collapse2 === true ? collapse2 = false : collapse2 = true"> Single / Single Parent</mdb-btn>
          <mdb-btn color="info" @click.native.prevent="collapse3 === true ? collapse3 = false : collapse3 = true"> Married</mdb-btn>

          </mdb-row>
          <mdb-row>
            <mdb-col sm="6">
              <transition @before-enter="beforeEnter" @enter="enter" @before-leave="beforeLeave">
                <mdb-card v-if="collapse2" class="collapse-item mt-2">
                  <mdb-card-body>
                    <h5 class="pt-3">Single</h5>
                      <p class="pb-3"> 
                      <ul><li> Dependents</li>
                      <ul><li>a person you care for 18 to 65 yrs old</li>
                      <li>limit to 2 individuals</li></ul>
                      <li>All of your dependents will be enrolled as Principal Account </li>
                      <li>"Packaged Plans" is not an OPTION</li>
                      <li>P700,000 annual coverage plan, of which P200,000 is the additional accident benefit.</li></ul>
                    </p>
                      <h5 class="pt-3">Single Parent</h5>
                      <p class="pb-3"> 
                      <ul><li> Dependents</li>
                      <ul><li>Legitimate and/or legally adopted children 30 days up to 21 years of age and living under the same roof as the principal member.</li></ul></ul>
                    </p>
                  </mdb-card-body>
                </mdb-card>
              </transition>
            </mdb-col>
            <mdb-col sm="6">
              <transition @before-enter="beforeEnter" @enter="enter" @before-leave="beforeLeave">
                <mdb-card v-if="collapse3" class="collapse-item mt-2">
                  <mdb-card-body>
                      <h5 class="pt-3">Married</h5>
                      <p class="pb-3"> 
                      <ul><li> Dependents</li>
                      <ul><li>Priority: * Spouse and children (including illegitimate)</li>
                      <li>Dependents coverage plan is packaged with the opswerks members</li>
                      <li>1 month to 65 yrs old </li>
                      <li>limit to total 4 dependents</li>
                      <li>P350 - P700K annual coverage plan</li></ul></ul>
                      <ul><li> Other dependents</li>
                      <ul><li>Next of kin: Parents, siblings</li>
                      <li>They will be enrolled as Principal account</li>
                      <li>Should their immediate family already have their own HMO, married member can still apply other dependents.</li><br/>
                      </ul></ul>
                    </p>
                  </mdb-card-body>
                </mdb-card>
              </transition>
            </mdb-col>
          </mdb-row>

        <mdb-row class="mt-5 align-items-center justify-content-start">
          <h4 class="demo-title"><strong>HMO Matrix</strong></h4>
        </mdb-row>
        <hr class="mb-4" />
      <mdb-row class="d-flex flex-row justify-content-center">
        <mdb-btn color="info" @click.native.prevent="collapse4 === true ? collapse4 = false : collapse4 = true">Single / Single Parent</mdb-btn>
        <mdb-btn color="info" @click.native.prevent="collapse5 === true ? collapse5 = false : collapse5 = true">Married</mdb-btn>
      </mdb-row>
        <mdb-row>
          <mdb-col sm="12">
            <transition @before-enter="beforeEnter" @enter="enter" @before-leave="beforeLeave">
              <mdb-card v-if="collapse4" class="collapse-item mt-4" >
                  <img src="../../docs/categories/assets/single_members.png" class="img-fluid"/>
              </mdb-card>
            </transition>
          </mdb-col>
          <mdb-col sm="12">
            <transition @before-enter="beforeEnter" @enter="enter" @before-leave="beforeLeave">
              <mdb-card v-if="collapse5" class="collapse-item mt-4">
                  <img src="../../docs/categories/assets/married_members.png" class="img-fluid"/>
              </mdb-card>
            </transition>
          </mdb-col>
        </mdb-row>
      </mdb-container>


      <mdb-container>
        <mdb-row class="mt-5 align-items-center justify-content-start">
          <h4 class="demo-title"><strong>FAQ</strong></h4>
        </mdb-row>
    <hr class="mb-4" />
    <mdb-accordion :panes="panes"/>
  </mdb-container>

         <mdb-row center class="mb-4">
        <mdb-container class="mt-5">
        <mdb-row class="mt-5 align-items-center justify-content-start">
          <h4 class="demo-title"><strong>From the HMO Provider </strong></h4>
        </mdb-row>
          <hr class="my-4" />
         <mdb-row class="d-flex flex-row justify-content-center">
           <a href="https://drive.google.com/drive/u/0/folders/1S99G61oApHQyMptiljaao-hwcKaPp8aT" target="_blank"><mdb-btn icon="folder" iconColor="white" icon-left>HMO Documents</mdb-btn></a> 
           <a href="https://www.medicardphils.com/member/flash" target="_blank"><mdb-btn icon="exclamation-circle" iconColor="white" icon-left>FLASH</mdb-btn></a> 
           <a href="https://www.medicardphils.com/member/perks" target="_blank"><mdb-btn icon="hand-spock" iconColor="white" icon-left>Perks</mdb-btn></a> 
           <a href="https://www.medicardphils.com/member/videos" target="_blank"><mdb-btn icon="camera" iconColor="white" icon-left>Videos</mdb-btn></a>
           <a href="https://www.medicardphils.com/accredited-providers" target="_blank"><mdb-btn icon="building" iconColor="white" icon-left>Providers</mdb-btn></a> 
        </mdb-row>
        </mdb-container>
    </mdb-row>       
        
        <mdb-row center class="mb-4">
        <mdb-container class="mt-5">
        <mdb-row class="mt-5 align-items-center justify-content-start">
          <h4 class="demo-title"><strong>Townhall on HMO </strong></h4>
          <a href="https://drive.google.com/drive/u/0/folders/15zllCvBmP5yWuKY2LZ0zTcecSkGP4BWl" waves-fixed class="border grey-text px-2 border-light rounded ml-2" target="_blank"><mdb-icon icon="users" class="mr-2"/>Misc</a>
        </mdb-row>
          <hr class="my-4" />
        <mdb-row>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/444733752" allowfullscreen></iframe>
          </div>
        </mdb-row>
        </mdb-container>
    </mdb-row>




            <mdb-list-group>
              <mdb-nav-item>
              </mdb-nav-item>
            </mdb-list-group>
          </mdb-jumbotron>
        </mdb-col>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbBtn,
  mdbIcon,
  mdbCard,
  mdbCardBody,
  mdbJumbotron,
  mdbNavItem,
  mdbListGroup,
  mdbEdgeHeader,
  mdbAccordion
} from "mdbvue";

export default {
  name: "AdvancedPage",
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbIcon,
    mdbCard,
    mdbCardBody,
    mdbJumbotron,
    mdbNavItem,
    mdbListGroup,
    mdbEdgeHeader,
    mdbAccordion
  },
    data() {
    return {
      collapse2: false,
      collapse3: false,
      collapse4: false,
      collapse5: false,
      panes: [
        {
          title: 'Why Medicard over other HMO providers?',
          content: `<ul>Our review of top HMOs in the country had proven that Medicard has the most premium plans.<br/></li>
                        <li>Access to 5 star hospitals (P500,000 max plan) (Maxicare max is at 200K)<br/></li>
                        <li>Privilege to prescribe your own doctor (subject to MediCard Relative Value)<br/></li>
                        <li>Pre-existing conditions are covered (hypertension, goiter, cataracts, glaucoma, gastritis, arthritis, etc) - up to P5,000-20,000 per illness per year<br/></li>
                        <li>Free annual executive check up<br/></li>
                        <li>Assist America and Lifeline rescue services<br/></li>
                        <li>Lifestyle center (skin clinic, yoga classes, weight management, fitness center)<br/></li>
                        <li>Inclusive of dental services and coverage of root canal up to P5,000.00 for Suite plans Physical Therapy up to 10 sessions<br/></li>
                        <li>Coverage of Slipped Disc up to P30,000.00<br/></li>
                        <li>Our review of top HMOs in the country had proven that <br/></li>
                        <li>Medicard has the most premium plans.</li></ul>`
        }, {
          title: 'What will change with the HMO benefits?',
          content: `<ol><li>The policy amount of up to $2400 annually per family is still in effect. The <i>moving forward</i> plan of converting all individual accounts to corporate account will not change the policy amount. We want to remove the overhead of management by discontinuing the membership from different HMO providers and keep only one HMO.</li>
                    <li> From the review, 60% of members get the basic HMO plan, we want the members to get full coverage by enrolling to a premium plan.</li>
                    <li> The company will pay upfront the cost instead of individual reimbursements.</li></ol>`
        }, {
          title: 'How will the conversion be done?',
          content: `<ol><li>All 2020 renewals and new applications until end of Q3 will be processed individually by members. You will be asked to enroll online thru Medicard website. </li>
                    <li>If you already processed the renewal or enrolled by yourself this year and paid for your own, we will continue to reimburse the paid cost, and on next renewal PeopleOps will be the one to handle it. </li>
                    <li>We will be working this year (Q3-Q4) to complete the requirement for us getting moved to corporate. All Medicard individual accounts will be converted to Medicard corporate. </li>
                    <li>Those under individual accounts can only be transferred to corporate account once their policy expires as their premium is already paid for a year. </li></ol>`
        },{
          title: 'How will the new policy will impact the insurance reimbursements which is non-HMO?',
          content: `<ol><li>The company will secure our own insurance. The plan is for any employee/ consultants to be part of this group insurance. As long as you’re part of the organization you will be insured. If you leave the company it will be discontinued. </li>
                  <li>Personal insurances (Life insurance with critical illness rider / Critical Illness) with 5-10 years maturity will no longer be allowed for reimbursements. This is an individual’s responsibility. A word of advice is given to members who had secure long term insurance that our health benefit policy will change and might impact it. Moreover, keeping in mind that your tenure in the company is not co-terminus with your 5 yr or 10 yr insurance. No one can guarantee Opswerks will last for more than a decade. </li>
                  <li>All Non-HMO coverage will be reimbursed until end of 2020. </li></ol>`
        },{
          title: 'I would like to only enroll myself first, can I enroll my dependents later on?',
          content: `Following the guidelines set, it would be prudent to know ahead of time who are your dependents. The company shoulders the cost, so the enrollment should not be a concern. In the corporate account, new enrollees can still be enrolled any time during the ongoing term.</li></ol>`
        },{
          title: 'What if my dependent/s’ HMO’s expiration date is different from mine, will it have any effect?',
          content: `Following the guidelines set, it would be prudent to know ahead of time who are your dependents. The company shoulders the cost, so the enrollment should not be a concern. In the corporate account, new enrollees can still be enrolled any time during the ongoing term.</li></ol>`
        },
        {
          title: 'My physician is not accredited by Medicard. Can I still stick to the same provider?',
          content: `We would like to fully maximize the health care plan that we can offer. If you’re persistent to get the non-Medicard provider, you may do so but once we convert to corporate, you need to be enrolled in Medicard and continue your other HMO plan at your own expense. Also, VIP plan has the privilege to prescribe their own doctor.`
        },{
          title: 'With the new guidelines, I understand, I have to give up my parent’s coverage?',
          content: ` <b>Q:</b> I’m married and I got my spouse and 2 kids covered by Medicard on annual coverage plan of P200k. I made it so to cover for my parent at P25K cost for a P200k plan. With the new guidelines, I understand, I have to give up my parent’s coverage?<br/>
                    <br/><b>A:</b> The new guideline will bump your existing family coverage from P200K to P350K (including the additional P100k accident coverage). You don’t necessarily have to give up your parent’s coverage. You can still continue with it on your own expense. Once we moved to corporate account, we can do salary deductions 2-4 times in a year, quite easy on the pocket.`
        },{
          title: 'References',
          content: ` <b>Link:</b> <a href="https://www.medicardphils.com/online-store/healthcare-plan/vip#price_list" target="_blank">https://www.medicardphils.com/online-store/healthcare-plan/vip#price_list</a><br/>
                    <br/><b>How to Apply? </b> 
                    <ul><li><a href="https://vip.medicardphils.com" target="_blank">https://vip.medicardphils.com</a></li>
                    <li>forward copy of your submitted application to:</li>
                    <li><a href="mailto:jesselle@opswerks.com">email: jesselle@opswerks.com</a></li>
                    <li>slack: @jesse</li></ul>`
        }
      ]
    };
  
  },
  methods: {
    beforeEnter(el) {
      el.style.height = 0;
    },
    enter(el) {
      el.style.height = el.scrollHeight + 'px';
    },
    beforeLeave(el) {
      el.style.height = 0;
    }
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

.category-page-background {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../../docs/categories/assets/opswerks-bg.png")
    center;
  background-size: cover;
}

.example-components-list {
  padding-top: 20px;
}

.example-components-list li {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f7f7f7;
  transition: 0.3s;
}

.example-components-list h6 {
  padding: 20px 10px 5px 10px;
  color: grey;
}

.example-components-list li:hover {
  background-color: #fafafa;
}

.example-components-list i {
  float: right;
  padding-top: 3px;
}

.nav-link.navbar-link h5 {
  color: #212529;
}
</style>
