<template>
    <div style="margin-top: -15px;">
      <mdb-edge-header color="teal darken-2">
        <div class="home-page-background"></div>
      </mdb-edge-header>

      <mdb-container class="free-bird">
        <mdb-row>
          <mdb-col md="10" class="mx-auto white z-depth-4 py-2 px-2">
            <mdb-card-body>
              <mdb-row>
                <mdb-col md="12">
                  <img src="../../src/assets/banner1.png" class="img-fluid"/>
                </mdb-col>
                <mdb-col md="9">
                </mdb-col>
              </mdb-row>
              <mdb-row class="d-flex flex-row justify-content-center">
                <mdb-btn size="lg" tag="a" role="button"
                         active href="http://aa5675c7cd7e711eab0de0aae28472e5-310048246.us-east-2.elb.amazonaws.com/form">ask kim!</mdb-btn>
              </mdb-row>
            </mdb-card-body>
          </mdb-col>
        </mdb-row>
      </mdb-container>
      <mdb-container>
        <h2 class="text-center mt-5 font-weight-bold">Why is this app so great?</h2>
        <mdb-col md="10" class="mx-auto text-center text-muted mb-5">
          <p>App creators made it so simple for every member to jump in and file for HMO plan that fits their lifestyle best!<br>
          No need to compute on your own nor take time asking POps for what's available<br>
          Kimberly is here for you 24/7!</p>
        </mdb-col>
        <mdb-row>
          <mdb-col md="6" class="mb-5">
          <mdb-card v-animateOnScroll="{animation: 'tada'}">
                <mdb-col md="12">
                  <img src="../../src/assets/kim-left.png" class="img-fluid"/>
                </mdb-col>
            </mdb-card>
          </mdb-col>

          <mdb-col md="6" class="mb-5">
            <mdb-card v-animateOnScroll="{animation: 'tada'}">
                <mdb-col md="12">
                  <img src="../../src/assets/kim-right.png" class="img-fluid"/>
                </mdb-col>
            </mdb-card>
          </mdb-col>
        </mdb-row>

       <h2 class="text-center mt-5 font-weight-bold">Testimonials for Kimberly</h2>
        <mdb-col md="10" class="mx-auto text-center text-muted mb-5">
          <p>We have heard so much about Kimberly's rich back story. We all wanted to meet her! <br>
          And as creators of the app, we thought it would be interesting to use such an iconic character as the embodiment of why this app is so useful. Here are some of the unique statements we got from members! </p>
        </mdb-col>
        <mdb-row class="mb-4 justify-content-center">
          <mdb-col md="8" class="mb-5">
            <mdb-card v-animateOnScroll="{animation: 'fadeInLeft'}">
              <mdb-col md="40">
                  <img src="../../src/assets/testim1.png" class="img-fluid"/>
                </mdb-col>
              <mdb-card-body>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>
        </mdb-row>
        <mdb-row class="mb-4 justify-content-center">
          <mdb-col md="8" class="mb-5">
            <mdb-card v-animateOnScroll="{animation: 'fadeInRight'}">
              <mdb-col md="40">
                  <img src="../../src/assets/testim2.png" class="img-fluid"/>
                </mdb-col>
              <mdb-card-body>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>
        </mdb-row>
      </mdb-container>
    </div>
</template>

<script>
import { mdbContainer, mdbCol, mdbRow, mdbBtn, mdbEdgeHeader, mdbCard, mdbCardBody, animateOnScroll } from 'mdbvue';

export default {
  name: 'HomePage',
  components: {
    mdbContainer,
    mdbCol,
    mdbRow,
    mdbBtn,
    mdbEdgeHeader,
    mdbCard,
    mdbCardBody
  },
  directives: {
    animateOnScroll
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

.home-feature-box {
  padding: 40px 0;
}

.home-feature-box i {
  font-size: 6rem;
}

.home-feature-box span {
  display: block;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  color: #42b983;
}

.home-page-background {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../../src/assets/opswerks-bg.png") center;
  background-size: cover;
}

.mx-auto{
  width: 100%;
  height: 100%;
  opacity: 10;
  background: url("../../src/assets/bg3.png") center;
  background-size: cover;
}
</style>
