<template>
  <draggable class="list-group" :list="applicants" group="people">
    <ApplicantCard v-for="(x) in applicants" :applicant="x" :key="x.id"/>
  </draggable>
</template>

<script>
import ApplicantCard from "./ApplicantCard.vue";
import draggable from "vuedraggable";

export default {
  name: 'ApplicantList',
  props: ["applicants"],
  components: {
    ApplicantCard,
    draggable
  }
}
</script>
