<template>
  <div class="row border rounded" id="debugData">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>JSON Preview</h4>
          <pre><code id="json-preview">{{ jsonValue }}</code></pre>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Solve Results</h4>
          <pre><code id="solve-results">{{ solveResults }}</code></pre>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Recommended Plan</h4>
          <pre><code id="solve-results">{{ recommendedPlan }}</code></pre>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Final JSON Preview</h4>
          <pre><code id="final-json-preview">{{ finalJsonValue }}</code></pre>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Computed Price JSON</h4>
          <pre><code id="computed-price">{{ computedPriceJson }}</code></pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DebugInfo",
  props: ["jsonValue", "solveResults", "recommendedPlan", "finalJsonValue", "computedPriceJson"],
};
</script>
