<template>
  <div id="Header">
        <header>
          <div class="logo text-white">
            <nav>
              <a href="https://opswerks.com/">HOME</a>
              <a href="#">KIMBERLY</a>
              <a href="https://opswerks.com/toolkit/">OUR TOOLKIT</a>
              <a href="https://opswerks.com/about/">ABOUT US</a>
            </nav>
          </div>
        </header>
        <Background/>
  </div>
</template>


<script>
  import Background from './Background.vue'
export default {
  name: 'Header',
  components: {
    Background,
  },
  props: {
    msg: String
  }
}
</script>


<style>
/* Some more styles to beutify this example */
nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 7px 40px;
    position: center;
    display: inline-block;
}
.container p{
    line-height: 100px; /* Create scrollbar to test positioning */
}
.logo {
	background: transparent url("../assets/opswerks2.png") left center no-repeat;
	background-size: auto 45px;
	float: center;
	margin: 20px 0 0 35px;
	display: block;
	height: 40px;
	min-width: 164px;
	vertical-align: middle;
}

element.style {
}
nav {
  display: inline-block;
  text-align: -webkit-match-parent;
  position: relative;
  color: #fff;
  float: right;
  line-height: 40px;
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-right: 30px;
  letter-spacing: 4px;
  color: rgba(109,180,77, 0.6);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
header {
    max-width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 9999;
    background: rgba(51, 51, 51, 0.85);
    //font-weight: normal;
    font-family: "Helvetica", sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
</style>
