<template>
  <section id="Package">
    <HeaderLogin/>
  </section>
</template>


<script>
import HeaderLogin from './HeaderLogin.vue'

export default {
  name: 'Packages',
  components: {
    HeaderLogin
  }
}
</script>


<style>
#app {
}
</style>
