<template>
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>HMO Application</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <HMOForm
          v-on:updateSolve="updateSolve"
          v-on:updateJSON="updateJSON"
          v-on:updatePlan="updatePlan"
          :debug="debug"
        />
      </div>
      <div class="col-sm-12 col-md-8" v-if="applicantCount > 0">
        <div>
          <DebugInfo
            v-if="debug"
            :jsonValue="json_value"
            :solveResults="solve_results"
            :recommendedPlan="recommended_plan"
            :finalJsonValue="final_json_value"
            :computedPriceJson="computed_price_json"
          />
          <div class="row border rounded" v-if="applicants.length > 0">
            <div class="col">
              <h4>Applicants</h4>
              <hr />
              <!-- These are the cards to be dragged to applications -->
              <ApplicantList :applicants="applicants" />
            </div>
          </div>

          <ApplicationForm
            v-for="(x, index) in applications"
            :planType="x.planType"
            :selectedPlanType="x.selectedPlanType"
            :primary="x.primary"
            :dependents="x.dependents"
            :applicationId="x.id"
            :principalCost="x.principalCost"
            :dependentCost="x.dependentCost"
            :totalCost="x.totalCost"
            :key="index"
            v-on:closeAppForm="closeAppForm"
            v-on:updatePlanType="updatePlanType"
          />

          <div class="row border rounded">
            <div class="col">
              <h5>Total Plan Price:</h5>
              <h3>₱{{ totalPrice }}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col form-group">
              <hr />
              <button v-on:click="addAppForm" class="btn btn-secondary">
                Add Application
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <button
                v-on:click="submitApplication"
                class="btn btn-primary"
                :disabled="anyInvalid || isSubmitted || applicants.length != 0"
              >
                {{ submitText }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HMOForm from "./components/HMOForm.vue";
import ApplicantList from "./components/ApplicantList.vue";
import ApplicationForm from "./components/ApplicationForm.vue";
import DebugInfo from "./components/DebugInfo.vue";

export default {
  name: "App",
  components: {
    HMOForm,
    ApplicantList,
    ApplicationForm,
    DebugInfo,
  },
  data: function() {
    return {
      json_value: "JSON Preview will be displayed here",
      solve_results: "Solve Results will be displayed here",
      recommended_plan: "Recommended Plan will be displayed here",
      final_json_value: "Final JSON will be displayed here",
      computed_price_json: "Computed Price JSON will be displayed here",
      applicants: [],
      applications: [],
      debug: false,
      applicationCount: 0,
      totalPrice: 0,
      anyInvalid: false,
      isSubmitted: false,
      submitText: "Submit Application",
    };
  },
  computed: {
    applicantCount: function() {
      let x = 0;
      x = x + this.applicants.length;
      for (let application of this.applications) {
        x = x + application.primary.length;
        x = x + application.dependents.length;
      }
      return x;
    },
    applicationsString: function() {
      return JSON.stringify(this.applications);
    },
  },
  methods: {
    updateSolve: function(value) {
      this.solve_results = value;
      // Reveal Plan Form Builder and generate applications based on solve_results
    },
    updateJSON: function(value) {
      this.json_value = value;
    },
    updateCost: function() {
      let json_value = JSON.stringify(this.applications);
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: json_value,
      };
      let baseURL = document.URL;
      if (typeof process.env.VUE_APP_URL !== "undefined") {
        baseURL = process.env.VUE_APP_URL;
      }

      const computeURL = new URL("/api/compute_plan_price", baseURL);

      fetch(computeURL, requestOptions)
        .then((response) => response.json())
        .then(
          function(prices) {
            this.computed_price_json = prices;
            let isAnyInvalid = false;
            for (const [appId, price] of Object.entries(prices)) {
              if (appId == "total") {
                this.totalPrice = price;
              } else {
                let processedPrice = {};
                if (typeof price == "string") {
                  // TODO: replace with more helpful error messages
                  console.log(
                    "Input for application ID " + appId + " is invalid"
                  );
                  processedPrice.cost = -1;
                  processedPrice.principal_cost = -1;
                  processedPrice.principal_cost = -1;
                  isAnyInvalid = true;
                } else {
                  processedPrice = price;
                }
                for (let i = 0; i < this.applications.length; i++) {
                  if (this.applications[i].id == appId) {
                    this.applications[i].principalCost =
                      processedPrice.principal_cost;
                    this.applications[i].dependentCost =
                      processedPrice.dependent_cost;
                    this.applications[i].totalCost = processedPrice.cost;
                    break;
                  }
                }
              }
            }
            this.anyInvalid = isAnyInvalid;
          }.bind(this)
        );
    },
    updatePlan: function(value) {
      this.recommended_plan = value;
      // Clear existing list of applicants and applications to avoid duplication
      this.applicants = [];
      this.applications = [];

      for (var x of value) {
        this.applicationCount++;
        this.applications.push({
          planType: x.planType,
          primary: [x.primary],
          dependents: x.dependents,
          id: this.applicationCount,
          principalCost: 0,
          dependentCost: 0,
          totalCost: 0,
        });
      }
    },
    updatePlanType: function(id, planType) {
      for (let i = 0; i < this.applications.length; i++) {
        if (this.applications[i].id == id) {
          this.applications[i].planType = planType;
          break;
        }
      }
    },
    closeAppForm: function(value) {
      for (let i = 0; i < this.applications.length; i++) {
        if (this.applications[i].id == value) {
          this.applicants = this.applicants.concat(
            this.applications[i].primary
          );
          this.applicants = this.applicants.concat(
            this.applications[i].dependents
          );
          this.applications.splice(i, 1);
          break;
        }
      }
    },
    addAppForm: function() {
      this.applicationCount++;
      this.applications.push({
        planType: "Suite",
        primary: [],
        dependents: [],
        id: this.applicationCount,
        principalCost: 0,
        dependentCost: 0,
        totalCost: 0,
      });
    },
    submitApplication: function() {
      // Disable the submit button while request is processing
      this.isSubmitted = true;
      this.submitText = "Submitting Application...";
      this.final_json_value = this.applications;
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(this.final_json_value),
      };
      let baseURL = document.URL;
      if (typeof process.env.VUE_APP_URL !== "undefined") {
        baseURL = process.env.VUE_APP_URL;
      }

      const submitURL = new URL("/api/save_applications", baseURL);
      fetch(submitURL, requestOptions)
        .then(function(){
          console.log("Submission succeeded");
          this.submitText = "Application Submitted";
        }.bind(this))
        .catch(function() {
          alert("Submission Failed");
          this.submitText = "Retry Submission";
          this.isSubmitted = false;
        }.bind(this));
    },
  },
  watch: {
    applicationsString: function() {
      this.final_json_value = this.applications;
      this.updateCost();
    },
  },
};
</script>

<style>
.container-fluid {
  width: 95%;
  margin-bottom: 100px;
}

.application-form {
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f4fdf4;
}

.border {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
